body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #181725;
  padding: 2rem;
  display: flexbox;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

h1 {
  color:#6b7986;
}

.result_container {
  display: flex;
  /* border: 1px solid whitesmoke;  */
  border-radius: 5px;
  justify-content: space-evenly;
  /* margin: 100px auto; */
}

.result_search {
  margin: 10px;
  flex: 1;
  overflow: hidden;
}

/* .result_search:hover {
  border-radius: 10px;
  border: 1px solid whitesmoke;

} */

.nominations {
  display: flexbox;
  margin: 10px;
  border-radius: 10px;
  flex: 1;
}

.search {
  /* position: fixed; */
  top: 0%;
  margin: 0 auto;
}